#home {
  background: #fafbfd;
}

.breadcrumbSec {
  height: 200px;
  border-bottom: 1px solid #d5d6d7;
  background-color: #e9ecef;
  background-image: url('../img/gallery/breadcrumb-bgimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-position: top left;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.breadcrumbSec h1 {
  font-size: 28px;
  text-align: center;
  LINE-HEIGHT: 1.7;
}

.breadcrumbSec p {
  line-height: 1.7;
  color: #000;
  font-size: 14px;
  MARGIN: 0;
}

#customers img,
#product img {
  height: 95px;
  width: 95px;
}

.portfolioImg {
  height: 300px;
  overflow: hidden;
}

#portfolioCarousel .carousel-inner .carousel-item.active,
#portfolioCarousel .carousel-inner .carousel-item-next,
#portfolioCarousel .carousel-inner .carousel-item-prev {
  display: flex;
}

#portfolioCarousel .carousel-indicators {
  bottom: -73px;
}

#portfolioCarousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}

main.main .navbarTop {
  position: sticky;
}
.navbarTop .dropdown-item{
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.mapDetails .innerMapsec, .mapDetails .innerMapsec iframe {
  height: 350px;
}

.leftSection p, .leftSection p a, .leftSection .locationIcon {
  color: #000;
  text-align: center;
}

.locationIcon {
  font-size: 30px;
  padding: 1em 0;
}

.whychooseusRts {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 15px;
}

.whychooseusRts img {
  width: 60px;
  text-align: center;
  padding-bottom: 1em;
}

section {
  padding: 4rem 0;
}

/* testimonialSection CSS */
/* .cards-wrapper {
  display: flex;
  justify-content: center;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  width: 350px;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
} */
@media (max-width: 768px) {
  #portfolioCarousel .carousel-inner .carousel-item > div {
    display: none;
  }
  #portfolioCarousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

#portfolioCarousel .carousel-inner .carousel-item.active,
#portfolioCarousel .carousel-inner .carousel-item-start,
#portfolioCarousel .carousel-inner .carousel-item-next,
#portfolioCarousel .carousel-inner .carousel-item-prev {
  display: flex;
   /* transition-duration: 10s; */
}

/* display 4 */
/* @media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start, .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
} */
.testimonialSection h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 25px 0 50px
}

.testimonialSection h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #ffdc12;
  left: 0;
  right: 0;
  bottom: -10px
}

.testimonialSection  .carousel {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 50px
}

.testimonialSection  .carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px
}

.testimonialSection  .carousel .item a {
  color: #eb7245
}

.testimonialSection .carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%
}

.testimonialSection  .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%
}

.testimonialSection  .carousel .testimonial {
  padding: 30px 0 10px
}

.testimonialSection .testimonial {
  color: #000000;
  font: Times Roman
}

.testimonialSection  .carousel .overview {
  text-align: center;
  padding-bottom: 5px
}

.testimonialSection  .carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px
}

.testimonialSection .carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12
}

.testimonialSection  .carousel .carousel-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  text-shadow: none;
  top: 4px
}

.testimonialSection  .carousel-control i {
  font-size: 20px;
  margin-right: 2px
}

.testimonialSection  .carousel-control.left {
  left: auto;
  right: 40px
}

.testimonialSection  .carousel-control.right i {
  margin-right: -2px
}

.testimonialSection  .carousel .carousel-indicators {
  bottom: 15px
}

.testimonialSection  .carousel-indicators li, .carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
  border:none;
}

.testimonialSection  .carousel-indicators li {
  background: #e2e2e2;
  border-color: transparent
}

.testimonialSection  .carousel-indicators li.active {
  border: none;
  background: #888
}

  .productInfo {
    background: #ecdec3 url('../../assets/img/services/perfect-product-launch.jpg');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}



#homeCarousel .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #2a6faa;
}

#homeCarousel .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #2a6faa;
}
#homeCarousel .carousel-indicators{
  bottom: -3em;
}
#homeCarousel .carousel-indicators [data-bs-target]{
  background: #2a6faa;
  border: none;
}
@media (max-width: 575.98px) {
  .navbar-light .navbar-brand{
    width: 60%;
  }
  .whychooseusRts{
    grid-template: repeat(4,1fr)/1fr;
  }
 }